# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
*.asm

# Debug files
*.dSYM/

#config&temp files
*.ini
*.cp
*.dbg
*.dlt
*.log
*.lst
*.mcl
*.txt
*.dic
*.bmk
*.brk
*.cfg
*.dct

